* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.main {
    width: 100vw;
    height: 100vh;
    background: url("../image/backimg.webp") center center;
    background-size: cover;
}
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.title {
    margin-top: 10px;
    font-size: 2.5rem;
    text-align: center;
}
.col {
    margin-top: 10px;
    width: 1000px;
    color: white;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
 .col div {
     width: 250px;
     text-align: center;
 }
input {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: transparent;
    border-radius: 9px;
    height: 50px;
    width: 50%;
    text-align: center;
    font-size: 22px;
}